.divT1{
    margin: 20px;
    display: inline-block;
}
.divT2{
    border: 1px solid #2083df;
    padding: 10px;
    margin: 20px;
}
@media (max-width: 800px) {
    .tasksBlock{
        height: 150px;
    }
    img{
        width: 100%;
    }
}
