body {
    margin: 0;
}

h1 {
    text-align: center;
    color: #2083df;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    color: #2083df;
    margin: 0;
    padding-top: 15px;
}

h3 {
    text-align: center;
    color: #2083df;
    margin: 0;
    padding-top: 15px;
}

button {
    background-color: #2083df;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.header {
    background-color: white;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

.footer {
    background-color: white;
    height: 50px;
    width: 100%;
}

.headerText {
    color: #2083df;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.mainBlock {
    min-height: calc(100vh - 210px);
    background-image: url(../../../img/main.jpg);
    text-align: center;
    padding: 80px 0;
}

.tasksBlock {
    width: 70%;
    height: 100px;
    background-color: white;
    position: relative;
    left: 15%;
}

.tasks {
    display: flex;
    justify-content: center;
    padding: 0;
}

.task {
    color: #2083df;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

.desigionsBlock {
    width: 70%;
    min-height: 200px;
    background-color: white;
    position: relative;
    left: 15%;
    margin-top: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.blocks {
    height: 100%;
    display: none;
}

.blocks {
    height: 100%;
    display: none;
}

.blocks {
    height: 100%;
    display: none;
}

.button {
    position: absolute;
    bottom: 10px;
    display: none;
}

.execute {
    left: 20px;
}

.clear {
    right: 20px;
}

@media (max-width: 800px) {
    .tasksBlock {
        height: 150px;
    }
}