body{
    margin: 0;
}
h1{
    text-align: center;
    color: #2083df;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
    color: #2083df;
    margin: 0;
    padding-top: 15px;
}
.header{
    background-color: white;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.footer{
    background-color: white;
    height: 50px;
    width: 100%;
}
.headerText{
    color: #2083df;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}
.mainBlock{
    min-height: 860px;
    background-image: url(../../../img/main.jpg);
    text-align: center;
    padding: 80px 0;
    position: relative;
}
.blocks{
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 20px;
    position: absolute;
    border: 2px solid white;
    background-image: url("../img/back12.avif");
}
.block1{
    left: calc(100vw / 2 - 400px);
    top: 80px;
}
.block2{
    left: calc(100vw / 2 - 150px);
    top: 330px;

}
.block3{
    left: calc(100vw / 2 + 100px);
    top: 580px;
}
.foto{
    width: 100px;
    height: 120px;
}
.infoDescription{
    font-size: 20px;
    color: white;
}
.info{
    color: #ffd200;
}
@media (max-width:900px) {
    .blocks{
        position: static;
        width:80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }
}