body{
    margin: 0;
}
h1{
    text-align: center;
    color: #2083df;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
    color: #2083df;
    margin: 0;
    padding-top: 15px;
}
input{
    border-radius: 5px;
    border: 1px solid #2083df;
}
textarea{
    border-radius: 5px;
    border: 1px solid #2083df;
}
button{
    background-color: #2083df;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.header{
    background-color: white;
    height: 40px;
    padding-top: 10px;
    text-align: center;
}
.footer{
    background-color: white;
    height: 50px;
    width: 100%;
}
.headerText{
    color: #2083df;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}
.mainBlock{
    height: calc(100vh - 100px);
    background-image: url(../../../imj/main.jpg);
    min-height: 500px;
    text-align: center;
}
.form{
    width: 90%;
    height: 80%;
    background-color: white;
    margin-left: 5%;
    top: 10%;
    position: relative;
    overflow: auto;
}
.gender{
    margin-top: 15px;
    display: block;
}
@media (max-width: 600px) {
    .mobile{
     display: block;
     margin-top: 10px;
    }
}